pytest
jupyter
pandas
openpyxl
plotly
seaborn
scikit-learn
PyYAML==6.0
jenkspy
numpy
# umap-learn==0.5.3 # removed due to lack of space
# tensorflow==2.14.0
dash
dash-bootstrap-components
nbformat>=4.2.0
plotly
rdkit
pyarrow
jinja2
dash_dangerously_set_inner_html
