:root {
    --controls-line-color: rgb(227, 227, 227);
    --controls-dot-default: rgb(255, 255, 255);
    --controls-dot-active: var(--bs-primary);
    --controls-dot-visited: rgb(0, 0, 0);
    --custom-nav-active-color: rgb(84, 153, 255);
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

#app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


#main-container>div,
#main-container>div>#_pages_content,
.page {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min-h-80px {
    min-height: 80px;
}

.grid-1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}


.upload-box {
    width: 100%;
    height: 100%;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

.fixed-width-100 {
    width: 100px;
}

.fixed-width-150 {
    width: 150px;
}

.controls {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.controls__content {
    position: relative;
    margin: 3rem 7rem 2rem 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.controls__content::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: var(--controls-line-color);
    transform: translateY(-2px);
}

.controls__point {
    position: relative;
    padding-left: 1rem;
}

.controls__point::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--controls-dot-default);
    border: 4px solid var(--controls-line-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.controls__point--active::after {
    background-color: var(--controls-dot-active);
    transform: scale(1.25) translate(-50%, -40%);
}

.controls__point--visited::after {
    background-color: var(--controls-dot-visited);
}

.controls__point__label {
    position: absolute;
    left: 0.7rem;
    top: -2.75rem;
    font-weight: 700;
    font-size: 0.9rem;
    width: 120px;
    transform: rotate(-20deg);
}

.btn--round {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-input {
    margin-left: 10px;
    width: 150px
}

.btn-report {
    width: 350px;
}

.panel-restricted {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
}

#echo-bmg-combined td.column-0 p {
    margin-bottom: 0;
    text-align: right;
    justify-content: right;
}

#projection-table td.column-0 p {
    margin-bottom: 0;
    text-align: right;
    justify-content: right;
}

.custom-nav-link {
    color: var(--bs-nav-link-color) !important;
}

.custom-nav-link:hover,
.custom-nav-link.active {
    color: var(--custom-nav-active-color) !important;
}

.custom-nav-link.active {
    font-weight: bold;
}

#select-file {
    color: (84, 153, 255);
}
